@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-item-selected {
  padding-right: 48px;
  background-color: #f24044 !important;
  color: #ffffff !important;
  margin-right: 100px !important;

  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.ant-menu-item:hover {
  background-color: #d61f40 !important;
  color: #ffffff !important;
  margin-left: -1px !important;
  font-family: sans-serif;
  /* margin-left: 8px !important; */
  border-bottom-left-radius: none !important;
  border-top-left-radius: none !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.ant-menu-item {
  margin-left: -1px !important;
  
  font-family: sans-serif;
  padding-left: 30px !important;
  border-bottom-left-radius: none !important;
  border-top-left-radius: none !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.ant-menu-submenu-title:hover {
  color: #f24044 !important;
  background-color: #c75171 !important;
  font-family: sans-serif;
  margin-left: -1px !important;
  margin-top: 30px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.ant-menu-submenu-title {
  margin-left: -1px !important;
  font-family: sans-serif;
  background-color: #c75171 !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-top: 30px !important;
  padding-inline-end: 0px!important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.ant-menu-submenu-title-selected {
  color: rgb(247, 244, 244) !important;
  background-color: #f24044 !important;
}

.ant-menu-inline-collapsed {
  background-color: #f24044 !important;
}
.ant-menu-submenu-placement-rightTop {
  background-color: #f24044 !important;
}
.ant-menu-submenu-popup {
  background-color: #f24044 !important;
}
.ant-menu-dark {
  background-color: transparent !important;
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.ant-menu-dark {
  background-color: transparent !important;
}
.ant-menu {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: none !important;
  font-family: sans-serif;
  /* display: flex;
flex-direction: column; */
  gap: 5px;
}
.ant-tooltip {
  background-color: #f24044 !important;
  color: #ffffff !important;
  font-family: sans-serif;
}
.ant-menu-inline-collapsed-tooltip {
  background-color: #f24044 !important;
}
.ant-tooltip-arrow {
  background-color: #f24044 !important;
}
.ant-layout-sider-trigger {
  display: none !important;
  font-family: sans-serif;
}
.anticon-menu-fold {
  color: #ffffff !important;
  font-family: sans-serif;
}
.anticon-menu-unfold{
    color: #ffffff !important;
  font-family: sans-serif;  
}
/* .ant-layout-sider {
    flex: 0 0 200px !important;
    max-width: 200px !important;
    min-width: 230px !important;
    width: 200px !important;
  } */
.card {
  background-color: inherit !important;
  border: none !important;
}
.ant-table-thead {
  background-color: #d61f40 !important;
  
}

.ant-table-thead th {
  background-color: #d61f40 !important;
  color: #ffffff !important;
  font-family: sans-serif;

}

.ant-table-wrapper {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.ant-switch-checked {
  background-color: #d61f40 !important;
}
.ant-switch {
  background-color: #979393;
}
.anticon-delete {
  color: #ffffff !important;
}
.ant-table-cell {
  width: 13% !important;
}
/* .ant-modal-content {
  
  background-image: url("/assets/images/modal.png");
  background-size: "cover";
  background-repeat: no-repeat;
  width: 534px !important;

  height: auto !important;
  background-color: inherit !important;
} */

.ant-modal-close {
  background-color: #f24044 !important;
  color: #ffffff !important;
  border-radius: 100px !important;
  padding: 4px !important;
}
.ant-form-item {
  margin-bottom: 10px !important;
}

.ant-select-selector {
  border-radius: 20px !important ;
}

/* .ant-form-horizontal {
  width: 30% !important;
} */
/*  
  .ant-input{
    width: 100% !important;
  } */
.ant-divider {
  margin-top: -10px !important;
}
.Doctors {
  margin-bottom: -20px !important;
}
.ant-spin-dot-item {
  background-color: #f24044 !important ;
}

.userp > .ant-upload-select {
  width: 239px !important;
  height: 239px !important;
}
.userAdmin > .ant-upload-select {
  width: 149px !important;
  height: 139px !important;
}
.hello > .ant-form-item-row {
  width: 400px !important;
}

.ant-card-body {
  width: 100% !important;
}

#hello > .ant-form-item-explain-error {
  color: #ffffff !important;
}

.ant-dropdown-menu {
  width: 200px !important;
}

@media only screen and (min-width: 2560px) {
  .ant-table .ant-table-cell {
    padding: 16px 24px;
  }

  .ant-table-thead th {
    font-size: 24px;
  }

  .ant-table-tbody td {
    font-size: 28px;
  }

  .ant-modal {
    width: 800px;
  }

  .ant-modal-content {
    height: 500px;
  }
}

.count{
  border: 1px solid red;
  border-radius: 20%;
  width: 40px;
  color: #f24044;
  font-size: 20px;
  padding: 2px;
  font-weight: 700;
  text-align: center;
  margin-left: 10px;
}


.Receipt{

  margin-right: 40px;
      display: flex;
      justify-content: end;
      margin-top: 84px;
      font-size: 16px;  
 color: #ffffff;
 opacity: 0.8;
}
.ant-form-item-explain-error{
  color: #ffffff !important;
}
.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ant-menu-title-content-collapsed {
  /* display: flex !important; */
  color: #054fb9 !important;
  align-items: flex-start !important;
  margin-left: 20px !important;
  font-size: 18px !important;
}
.ant-menu-title-content{
  color: #ffffff !important;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between; /* Adjust as needed */
}
.ant-card-body{
  width: 100% !important;
  height: 100% !important;
}
.example::-webkit-scrollbar {
  display: none !important;
}
.sider{
    background: linear-gradient(to top, #3D266B, #D61F40  80%) !important;
}
.header{
    background: linear-gradient(to bottom, #D61F40, #3D266B  180%) !important;
    border-radius: 20px;
    margin-top: 10px !important;
    margin-right: 10px !important;
}
.ant-layout{
    background-color: #fff !important;
}
.hello{
    background-color: #c56878;
backface-visibility: calc(25,14);
}

.loginbg{
  background: linear-gradient(to top, #3D266B, #D61F40  80%) !important;
}
.placeholder-white::placeholder {
  color: white !important;
}